<link rel="stylesheet" href="style2.css">
<div class="login-box">
    <h2>Create Task</h2>
    <form method="post" action="/tasks">
      <div class="user-box">
        <input type="text" name="title" >
        <label>Title</label>
      </div>
      <div class="user-box">
        <input type="text" name="description" >
        <label>Description</label>
       </div>
        <div class="user-box">
        <input type="text" name="dueDate" >
        <label>Date</label>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>